#example-layout {
   display: none;
   border: solid 3px red;
}

.thumbnail.graph {
   width: 600px;
   height: 75px;

.series-meta {
	background: #fed;
	border-radius: 5px;
	margin: 3px;
	padding: 0.5ex;
}

.series.name {
	font-size: 120%;
	font-weight: normal;
	margin: 1ex;
}

.series.description {
	font-size: 70%;
}


.download {
	float: right;
	background: #edc;
	border-radius: 4px;
	font-size: 75%;
	padding: 1ex;
}
